@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiPaper-root {
  background-color: white !important;
  opacity: 1 !important;
}

.TableName {
  width: 200px !important;

}

.ql-editor {
  min-height: 300px !important;
}

.Enrollment .css-vo9zqa{
  display: none !important;
}